{% extends 'Store/base.html' %}

{% load mathfilters %}

{% load static %}
{% load cart %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/cart.css' %}">

<div class="container my-4" id="cartApp">
  <div class="pt-5 pb-4">
    <h2>Shopping Cart</h2>
  </div>

  {% if cart %}
    <div class="cart-table">
      <table>
        <thead>
          <th>Product</th>
          <th>Quantity</th>
          <th>UOM</th>
          <th>Price</th>
        </thead>

        <tbody>
          {% for product in cart %}
            <tr>
              <td>
                <div class="prod-info">
                  <div class="prod-img mb-1">
                    <img src="{{ product.product.product_main_image.url }}" alt="">
                  </div>

                  <div class="prod-name ml-2">
                    <div class="prod-desc">
                      <h5>{{ product.product.name|truncatewords:2 }}</h5>
                      <h5></h5>
                    </div>

                    <div class="prod-delete-btn">
                      <button class="delete-btn"><i class="fas fa-trash-alt"></i></button>
                    </div>
                  </div>
                </div>
              </td>
              <td class="qty-section">
                <div class="prod-qty">
                  <div class="qty-btn-section">
                    <form action="/" method="POST">{% csrf_token %}
                      <input hidden type="number" name="remove" value="-1" />
                      <input type="submit" value="-">
                    </form>
                  </div>
                  <div class="quantity">
                    <h5>{{ product.qty }}</h5>
                  </div>
                  <div class="qty-btn-section">
                    <form action="/" method="POST">{% csrf_token %}
                      <input hidden type="text" name="product" value="{{product.id}}" />
                      <input type="submit" value="+">
                    </form>
                  </div>
                </div>
              </td>
              <td>
                <p class="text-center prod-uom">{{ product.uom.title }}</p>
              </td>
              <td>
                <h5 class="prod-price">MYR. {{ product.product.price|mul:product.qty }}</h5>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="total-price">
        <table class="mb-3">
          <tr>
            <td class="font-weight-bold text-danger cart-total-price">TOTAL</td>
            <td class="font-weight-bold cart-total">MYR. {{cart.total}}</td>
          </tr>
          <tr>
              {% if request.session.customer %}
            <td class="text-center" colspan="2"><a href="{% url 'checkout' %}"><button class="btn btn-danger">Proceed To Checkout <i class="fas fa-arrow-right"></i></button></a></td>
            {% else %}
            <td class="text-center" colspan="2"><a href="{% url 'login' %}"><button class="btn btn-danger">Please Login First <i class="fas fa-arrow-right"></i></button></a></td>
            {% endif %}
          </tr>
        </table>
      </div>
    </div>
  {% else %}
  <div class="card p-3">
    <h4 class="text-center">Your cart is empty!</h4>
  </div>
  {% endif %}
</div>

<!--Adding Vue.js-->

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>


<script="text/javascript">





</script>










{% endblock %}