{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<!-- top-menu -->
<div class="bg-danger">
<nav class="navbar navbar-dark bg-danger top-navbar container">
      <div class="ml-auto nav-item">
          {% if not request.session.customer %}
            <a href="{% url 'register' %}" class="mr-2 font-weight-bold">Sign Up</a><span class="font-weight-bold text-white mr-1">|</span>
            <a href="{% url 'login' %}" class="mr-2 font-weight-bold">Sign In</a>
            {% else %}
            <a href="{% url 'user_orders' %}" class="mr-2 font-weight-bold"><i class="fas fa-user"></i> Profile</a><span class="font-weight-bold text-white mr-1">|</span>
            <a href="{% url "logout" %}" class="mr-2 font-weight-bold">Logout</a>
            {% endif %}
      </div>
    </nav>
</div>

<!-- main-menu -->
<div class="bg-danger sticky-top">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-danger">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img id="navbar-logo" src="{% static 'images/logo.jpg' %}" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form action={% url 'search_by' %} class="form-inline my-2 my-lg-0 ml-auto searchBx">
          <input name="query" value="{{ request.GET.query }}" class="form-control" type="search" placeholder="Search Products..." aria-label="Search">
          <button class="my-sm-0 search-btn" type="submit"><i class="fas fa-search"></i></button>
        </form>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active mr-2">
            <a href="{% url 'cart' %}">
              <i class="fas fa-shopping-cart text-white"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>