.prod-row {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.prod-cards {
    position: relative;
    width: 100%;
    border: 1px solid #DFDFDF;
}

.prod-images img {
    position: relative;
    width: 100%;
    height: 180px;
    /*display: block;*/
    /*margin: 0 auto;*/
    margin-bottom: 15px;
    object-fit: cover;
}

.prod-badge {
    position: absolute;
    right: 2%;
    font-size: 1.3rem;
    z-index: 1;
}

.prod-links {
    color: #000;
}

.prod-links:hover, .prod-links:focus, .prod-links:active {
    color: #000;
    text-decoration: none;
    border: none;
    outline: none;
}

.prod-name {
    font-size: 1.5rem;
}

.order-block {
    display: flex;
    justify-content: space-between;
}

.input-btn .fa-heart {
    font-size: 20px;
}

.word {
    word-wrap: break-word;
}

.prod-price {
    font-size: 1.2rem;
}

.no-disc-price {
    margin-bottom: 2.7rem;
}

.order-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cross-product-price {
    text-decoration: line-through;
}

.input-btn .submit-button {
    width: 100%!important;
}

.input-btn .fa-heart {
    font-size: 1.5rem;
    cursor: pointer;
}

.pagination {
    position: relative;
    display: flex;
    justify-content: center;
}

/* Responsive */

@media screen and (max-width: 1199px) {
    .input-btn .fa-heart {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 991px) {
    .prod-row {
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (max-width: 767px) {
    .prod-row {
        grid-template-columns: 49% 49%;
    }
}

@media screen and (max-width: 479px) {
    .prod-row {
        grid-template-columns: 100%;
    }

    .input-btn .fa-heart {
        font-size: 1.5rem;
    }
}