.cart-table {
    width: 100%;
}

.cart-table table {
    border-collapse: collapse;
    width: 100%;
}

.cart-table table td {
    border-bottom: 1px solid rgb(175, 146, 146);
    padding: 8px;
}

.cart-table table tr:last-child td:nth-last-child(1),
.cart-table table tr:last-child td:nth-last-child(2),
.cart-table table tr:last-child td:nth-last-child(3),
.cart-table table tr:last-child td:nth-last-child(4) {
    border-bottom: none;
}

.cart-table table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #BB2D3B;
    color: white;
}

.cart-table table th:last-child {
    text-align: right;
    padding-right: 0.5rem;
}

.prod-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.prod-img img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.delete-btn {
    margin-top: 0.8rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 0.2rem;
    background-color: #cf3b4a;
    color: #fff;
    border: none;
    transition: background-color 0.4s;
}

.delete-btn:focus {
    border: none;
    outline: none;
}

.delete-btn:hover {
    background-color: #BB2D3B;
}

.prod-qty {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.qty-btn-section input {
    width: 2rem;
    height: 2rem;
    border-radius: 0.2rem;
    background-color: #212529;
    color: #fff;
    border: none;
}

.qty-section {
    width: 15rem;
}

.qty-btn-section input:focus {
    border: none;
    outline: none;
}

.prod-price {
    line-height: 1.5rem;
}

.price-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #C82333;
    width: 100%;
    max-width: 400px;
}

.total-price table td {
    border-bottom: none;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.cart-total-price {
    font-size: 1.5rem;
}

.cart-total {
    font-size: 1.2rem;
}

@media screen and (max-width: 991px) {
    .prod-desc h5 {
        width: 20rem;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 767px) {
    .prod-desc h5 {
        width: 10rem;
    }
}

@media screen and (max-width: 576px) {
    
    .prod-img img {
        width: 4rem;
        height: 4rem;
    }

    .qty-section {
        width: 12rem;
    }

    .prod-price {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .prod-desc h5 {
        width: 8rem;
    }
}

@media screen and (max-width: 465px) {
    .prod-desc h5 {
        font-size: 1.2rem;
        width: 6rem;
    }

    .quantity h5 {
        font-size: 1.2rem;
    }

    .qty-btn-section input {
        width: 1.8rem;
        height: 1.8rem;
    }
}

@media screen and (max-width: 420px) {
    .prod-img img {
        width: 3rem;
        height: 3rem;
    }

    .quantity h5 {
        font-size: 1rem;
    }

    .prod-desc h5 {
        width: 5rem;
    }

    .prod-name {
        margin-left: 0!important;
    }
}

@media screen and (max-width: 360px) {
    .prod-desc h5 {
        font-size: 1.1rem;
        width: 4rem;
    }
}

@media screen and (max-width: 345px) {
    .prod-uom, .prod-price {
        font-size: 0.9rem;
    }

    .prod-img img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .qty-btn-section input {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media screen and (max-width: 330px) {
    .prod-uom, .prod-price {
        font-size: 0.8rem;
    }
}