body{
  display:flex;
  flex-direction:column;
  height:100vh;
}

.list-group-item.active {
    background-color: red!important;
    border: red!important;
}

.user-info {
    font-size: 1.2rem!important;
}

.dashboard-card {
    margin-top: 20px;
    margin-bottom: 50px;
}

.footer{
  margin-top:auto;
}


@media screen and (max-width: 767px) {
    .sidebar-list {
        margin-bottom: 20px;
    }

    .user-info {
        margin-left: 5px;
    }
}

@media screen and (max-width: 410px) {
    .user-order-text td {
        font-size: 0.95rem;
    }

    .payment-btn {
        font-size: 0.95rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
}

@media screen and (max-width: 377px) {
    .user-info {
        font-size: 1.1rem!important;
    }
}

@media screen and (max-width: 368px) {
    .user-order-text td {
        font-size: 0.9rem;
    }

    .payment-btn {
        font-size: 0.9rem;
    }
}

/*@media screen and (min-height: 728px) {*/
/*    .footer {*/
/*        position: absolute;*/
/*        bottom: 0;*/
/*        width: 100%;*/
/*    }*/
/*}*/